.dropdown-container {
    position: relative;
  }
  
  .dropdown-options {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    z-index: 100;
  }
  
  .dropdown-container:hover .dropdown-options {
    opacity: 1;
    visibility: visible;
  }
  
  .dropdown-option {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
  }
  
  .dropdown-option:hover {
    background-color: #f5f5f5;
  }
  
  .dropdown-option.selected {
    background-color: #f1f1f1;
  }