@import "../../colors.scss";

.enterprise-menu {
    width: 90%;
    display: flex;
    justify-content: space-around;
    height: 29px;
    margin: auto;
    border: 2px solid $secondary;
    align-items: center;
    padding: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;


}

.filter-div{
    display: flex;
    justify-content: space-between;
    
}

.topic-filter {
    margin-left: 1rem;
    color: $soft-brown;
    margin-bottom: 0.5rem;
    background: none;
    height: 24px !important;
    overflow-y: scroll !important;
  }
  
  .topic-filter-container {
    max-height: 120px; /* Ajusta esta altura máxima según tus necesidades */
    overflow-y: auto;
  }

.date-filter-div{
    margin-right: 1rem;

}
.date-filter{
    margin-right: 1rem;
    color: $soft-brown ;
    margin-bottom: 0.5rem;
    background: none;
    height: 24px;
    width: 100%;
    max-height: calc(10 * 2rem + 1.5rem);
    overflow-y: auto;
}

.enterprise-h2 {
    margin-left: 1rem;

    h2 {
        font-size: 15px;
        color: $soft-brown;

    }

}

.enterprise-general-container {
    margin-top: 1rem;
    margin-left: .8rem;
    margin-right: 0.8rem;

    .enterprise-container {
        display: flex;
        gap: 0.8rem;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    .enterprises-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        height: 100%;
        padding-bottom: 1rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        background-color: $beige;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);

        
        button{
            margin-top: 1rem !important;
        }

        .enterprise-imag {
            width: 100%;
            height: 70px;
            margin-top: 2rem;


            img {
                width: 100%;
                height: 60px;
                object-fit: cover;
                // border-bottom-left-radius: 100px;
                // border-bottom-right-radius: 100px;
                // border-top-left-radius: 0px;
                // border-top-right-radius: 0px;
                // background: whitesmoke;

            }
        }

        .enterprise-name {
            font-weight: bold;
            color: $accent;
            font-size: 12px;
        }

        .enterprise-description {
            display: flex;
            text-align: center;
            color: $soft-brown;
            font-size: 12px;
            height: 40px;
        }

        .topics-container {
            display: flex;
            justify-content: center;
            margin-top: 6px;
        }

        .div-contactar {
            display: flex;
            text-align: center;
            margin-top: 6px;

            .contactar {
                all: unset;
                border: 1px solid $accent;
                color: $accent;
                padding: 6px 18px 6px 18px;
                width: 100%;
            }
        }

        .topics {
            margin-right: 12px;
            margin-top: 6px;
            border: 1px solid $soft-brown;
            border-radius: 8px;
            color: $background;
            background: $soft-brown;
            padding: 0 6px 0 6px;
            font-size: 13px;
        }


        p {
            margin: 0;
            padding: 5px 0;
        }
    }
}

.load-more{
    color: $accent;
}
.load-more-container{
    font-weight: 800;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}