@import "../../colors.scss";


.edit-input {
    border-radius: 0;
    background-color: transparent;
}


form {
    input {
        background-color: red;
    }
}

.edit-profile-container {
    margin: 2% 4%;
}