@import "../../colors.scss";


.chatinput-div {
    display: flex;
    justify-content:center;
    gap: 3%;
    margin-bottom: 10% !important;

    input {
        border: 1px solid $accent;
        color: $accent;
        background-color: transparent;
       
    
      input:focus, input:active {
        outline: none;
        border:  1px solid $accent;
      }
    }

    button {
        border: 1px solid $accent;
        color: $accent;
        background-color: transparent;
    }

    svg {
        color: $accent;
    }
}

.flex-div {
    display: flex;
}

.msg-container {
    border-radius: 10px;
    background-color: $yellow;
    margin-right: auto;
    margin-left: 1%;
    padding: 1% 3%;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 13px;
}

.my-msg-container {
    border-radius: 10px;
    margin-left: auto;
    margin-right: 1%;
    background-color: $beige;
    padding: 1% 3%;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 13px;


}

.msgwindow-div {
    margin: 3%;
    padding: 2%;
    height: 65vh;
    overflow: auto;
}


.msg-time {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 10px;
    margin: 0 2%;
    text-align: center;
}

