@import "../../colors.scss";


.eventone-content {
  display: flex;
  flex-direction: column;
  margin: 2% 2%;

   img {
    max-height: 30vh;
   }

   .categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 2% 5%;

    p{
      border-radius: 20px;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      padding-top: 1.5px;
      padding-bottom: 1px;
      color: $background;
      font-size: 13px;
      background-color: $soft-brown;
    }
  }
}

.eventone-title {
    color: $hard-brown;
    font-size: 14px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 700;
    margin-left: 5%;
    margin-top: 1rem;
}

.eventone-details {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    row-gap: 10px;
    margin: 2% 5%;

    div{
      display: flex;
      gap: 0.3rem;
      align-items: center;

     .icon-event{
        font-size: 22px !important ;
      }
    }

}

.eventone-buttons {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: $accent;
  gap: 10%;
  margin: 2% 5%;

.points{
  font-size: 12px;
}

}

.eventone-img{
  display: flex;
  justify-content: center;
}
.card-text-event{
  margin-right:5%;
  margin-left:5%;
  margin-top: 0.5rem;
}
//FROM ISMA - PUT IN INDEX!!!


