@import "../../colors.scss";


.eventone-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 2%;

   img {
    max-height: 30vh;
   }

   .categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;   //DOESNT WORK
    gap: 0.5rem;
    p{
      border: 1px solid $soft-brown;
      border-radius: 20px;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      color: $soft-brown;
      font-size: 13px;
    }
  }
}

.eventone-title {
    color: $hard-brown;
    font-size: 14px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 700;
}

.eventone-details {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    row-gap: 10px;
    margin: 2% 5%;

}

.eventone-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: $accent;

}


//FROM ISMA - PUT IN INDEX!!!

