@import "../../colors.scss";



.event-menu {
    width: 90%;
    display: flex;
    justify-content: space-around;
    height: 29px;
    margin: auto;
    border: 2px solid $secondary;
    align-items: center;
    padding:0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

.blue-menu-btn {
    color: $secondary;
    background-color: none;
    border: none;
    margin: 0;
    flex: 1;
    text-align: center;
padding-top: 3px;
padding-bottom: 3px;
}

.blue-menu-active {
    background-color: $secondary;
    color: $beige;
}


.event-toggle {
    margin: 0 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2%;

    span {
        padding: 1% 3%;
    }

    button {
        width: 15%;
        margin-left: 1%;
    }
    
    
}

.ant-switch-inner {
    border: 1px solid $secondary;
    background-color: $secondary;
}
