@import "../../colors.scss";

.sticky-nav{
    position: sticky;
    bottom: 0;
}
.navbar-container {
  background-color: $secondary;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  

  .headers {
    width: 100%;
    display: flex;
    justify-content: space-around;
    

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 24px;
        color: $accent;
        font-weight: bolder;
        height: 90px;
        width: 25%;
        
        p{
            font-size: 12px;
        }
    }
    .home{
        border-top: 11px solid $accent;
    }
    .empresas{
        border-top: 11px solid $secondary;
    }
    .comunidad{
        border-top: 11px solid $secondary;
    }
    .chat{
        border-top: 11px solid $secondary;
    }
    
  }
}
