@import "../../colors.scss";

.sticky-nav {
  z-index: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: -1px;
  
}

.navbar-container {
  background-color: $secondary;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  

  .headers {
    width: 100%;
    display: flex;
    justify-content: space-around;
    

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 25px;
        color: $accent;
        font-weight: bolder;
        height: 75px;
        width: 25%;
        padding-top: 2px;
        

        a{
          display: flex;
          flex-direction: column;
          align-items: center;
          text-decoration: none;
          color: $accent;
          margin-top: 1rem;
        }
        
        p{
          margin-top: 4px;
            font-size: 12px;
        }
    }
    .home{
        border-top: 13px solid $secondary;
    }
    .empresas{
        border-top: 13px solid $secondary;
    }
    .comunidad{
        border-top: 13px solid $secondary;
    }
    .chat{
        border-top: 13px solid $secondary;
    }
    
  }
}

.active {
    border-top: 13px solid $accent !important;
  }