
.eventcard-general {
    // width: 90%;
    // height: 50%;

    padding-top: 2%;
    border-radius: 0;
    margin: 2% 4%;
    display: flex;
    flex-direction: column;
    align-items:center;

    img {
        height: 180px;
        object-fit: cover;
        margin: 2%;
        border-radius: 0;
      }
}


.round-img-container {
  border-radius: 0 0 10px 10px;
}
