@import "../../colors.scss";

.contacto-text{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  h1{
    font-weight: 800;
  font-size: 19px;
  line-height: 24px;
    color: $secondary !important;
  }

}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  .btns{
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    display: flex;
    gap: 3rem;
    a{
      border: 1px solid $accent;
      padding: 0.2rem 1rem;
      color: $accent;
      text-decoration: none;
      button{
        background-color: transparent;
        border: none;
        color: $accent;
        font-size: 14px;
      }
    }
  }
  img{
    z-index: 1;
  }
  .bio {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    .title {
      font-family: "Spectral", serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: $hard-brown;
    }
    .content {
      text-align: justify;
      margin-top: 1rem;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      color: $soft-brown;
    }
    .categories{
      margin-top: 1rem;
      display: flex;
      text-align: justify;
      flex-wrap: wrap;
      gap: 0.5rem;
      p{
        border: 1px solid $soft-brown;
        border-radius: 20px;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        color: $soft-brown;
        font-size: 13px;
      }
    }
    p {
      margin: 0;
    }
  }

  .info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .data {
      display: flex;
      flex-direction: column;
      width: 50%;
      p {
        margin: 0;
      }
      .name {
        font-family: "Spectral", serif;
        font-weight: 800;
        font-size: 19px;
        line-height: 24px;
        color: $hard-brown;
        margin-top: 0.5rem;
      }
      .age {
        font-family: "Spectral", serif;
        font-weight: 800;
        font-size: 14px;
        line-height: 19px;
        color: $hard-brown;
      }
      .grade {
        font-family: "Spectral", serif;
        font-weight: 800;
        font-size: 14px;
        line-height: 19px;
        color: $soft-brown;
      }
      .year {
        font-size: 14px;
        color: $soft-brown;
      }
    }
    .img-container {
      width: 110px;
      height: 110px; 
      position: relative;
      overflow: hidden; 
      z-index: 2 !important; 
      margin-top: -10px;
      border-radius: 50%;
      border: 2px solid $background;

  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;

      }
    }
  }
}
