@import "./colors.scss";
 

:root {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: $background;
}

body{
  margin: 0;
}

h1{
  font-family: 'Spectral', serif;
}
h4{
  font-family: 'Spectral', serif;;
  font-size: 15px;
}

h2 {
 color: $hard-brown;
 font-family: 'Spectral', serif;
 font-size: 19px;
 line-height: 24px;
 padding: 0;
 margin: 0;

}

p {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}


//TEXTO: 

.blue-title {
  font-family: 'Spectral', serif;
 font-style: normal;
 font-weight: 800;
 font-size: 19px;
 color: $secondary;
 margin-top:auto;
 margin-bottom: auto;
}


//TODAS LAS CARDS DE ANTD -básico

.ant-card {
  border-radius: 0;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
  background-color: $beige;

}


//Texto como en la vista eventos:
.card-text-event {
  color: $soft-brown;
  font-size: 13px;
  line-height: 105%;

}


//BUTTONS
.btn-leer {
  color: $accent;
  border: 1px solid $accent;
  border-radius: 0;
  background-color: transparent;
  padding-right: 20%;
  padding-left:20%;

  .btn-leer:not(:disabled):hover { //NO FUNCIONA
    /* Prevent color change on hover */
    background-color: inherit;
    border-color: inherit;
    color: inherit;
  }

}

//BUTTONS
.btn-eventone {
  color: $accent;
  border: 1px solid $accent;
  border-radius: 0;
  background-color: transparent;

  .btn-eventone:active {
    /* Prevent color change on hover */
    background-color: inherit;
    border-color: inherit;
    color: inherit;
  }

}


.btn-guardar {
  color: $accent;
  padding: 4px 15px;
  width: 100%;
  border: 1px solid $accent;
  border-radius: 0;
  background-color: transparent;
  margin: auto;
  text-align: center;
  

  .btn-guardar:not(:disabled):hover {
    /* Prevent color change on hover */
    background-color: transparent;
    border-color: $accent;
    color: $accent;
  }


}


//ANTBUTTON general
.ant-button-default {
  border-radius: 0;
  background-color: inherit;
  border-color: inherit;
  color: inherit;
}





.center-content-div {
  display: flex;
  justify-content: space-between;

   .one-item {
    justify-content: center;
   }
}

.flex-column-container {
  display:flex;
  flex-direction: column;
}


.sticky{
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: $background;
  padding-top: 0.5rem;
  padding-bottom: 1px;
}

.div-error{
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  
  
  .error{
      
      color: $accent;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.4rem;
      span{
          font-size: 20px;
      }
      
  }
}
