@import "./colors.scss";
 

:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: $background;
  
}

body{
  margin: 0;
}

h1{
  font-family: "assets/fonts/Spectral/Spectral-Regular.ttf";
}

