@import "../../colors.scss";

%btn-blue {



}

.event-menu {
    width: 90%;
    display: flex;
   
    justify-content: space-around;
    height: 29px;
    margin: auto;
    border: 2px solid $secondary;
    justify-content: space-around;
    padding:0; 

}




.menu-btn {
    background-color: none;
    border: none;

}